<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="CommentMapper">
	<cache />
	<sql id="BaseColumns">
		comment_no AS commentNo,
		user_id AS userId,
		comment_content AS commentContent,
		reg_date AS regDate
	</sql>
	<select id="selectComment" resultType="Comment">
		SELECT
			<include refid="BaseColumns" />
		FROM tcomment
	</select>
</mapper>
